%button {
  --focus-shadow: 0 0 0 3px rgba(0 169 255 / 0.35);

  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  border: unset;
  border-radius: 28px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-decoration: unset;
  letter-spacing: 0;
  line-height: 24px;
  outline: unset;

  --shadow: 0 8px 18px 0 rgba(15 25 45 / 0.2);

  height: 40px;
  padding-left: 18px;
  padding-right: 18px;
  background-color: var(--pink);
  box-shadow: var(--shadow);

  &:focus {
    box-shadow: var(--shadow), var(--focus-shadow);
  }

  &:hover,
  &:active,
  &.active {
    background-color: var(--pink-lighten);
  }
}

%teaserCard {
  position: relative;
  transition: box-shadow 200ms;

  &:hover {
    box-shadow: 0 0.3125rem 0.75rem 0.0625rem rgb(0 0 0 / 20%);
  }
}

%link {
  font-size: 1.25rem;
  line-height: 1.5em;
  color: var(--pink);
  letter-spacing: 0.0005em;

  &[href]:hover {
    color: var(--blue);
  }
}

%list {
  margin: unset;
  font-size: 1.25rem;
  line-height: 1.3;
  letter-spacing: 0.005em;

  > li {
    color: var(--text-color);

    &:not(:first-child) {
      margin-top: 1.25rem;
    }
  }

  &:is(ul) {
    padding: unset;
    list-style: none;

    > li {
      display: flex;
      align-items: baseline;

      &::before {
        flex-shrink: 0;
        content: "/";
        color: var(--pink);
        margin-right: 10px;
      }
    }
  }

  &:is(ol) {
    li::marker {
      color: var(--pink);
    }
  }
}
